{% extends "base.html" %}

{% block extra_css %}
  @import url("/static/css/layout/events.css");
{% endblock %}

{% block content %}
<div id="content" class="events">
  <div class="wrapper">
    <div class="events-controls switch">
      <a href="{% url friends_choose %}" class="btn btn-primary btn-large control-btn add-btn"><span class="add-icon"></span><i></i><span class="btn-text">Plan new event</span></a>
      <div class="clearfix-bg"></div>
    </div>

    {% if results %}
      <div class="event-container switch">
        <div class="datelabel">
          <span class="badge badge-info">Event date</span>
        </div>
        {% for result in results %}
          <div class="event-item">
            <div class="event-date">
              <div class="event-date-item date-popup thumbnail">
                <div class="thumbnail">{{ result.created }}</div>
              </div>
              <div class="event-date-item date-leftarr"></div>
              <div class="event-date-item date-point"></div>
              <div class="event-date-item date-rightarr"></div>
              <div class="event-date-item time-period thumbnail">
                <div class="thumbnail"></div>
              </div>
            </div>
            <div class="event-info thumbnail">
              <div class="thumbnail">
                <div class="map-image">
                  <img src="http://graph.facebook.com/{{ result.results.all.0.place.fid }}/picture?type=square"  />
                </div>
                <div class="event-friends">
                  <ul class="thumbnails">
                    {% for profile in result.profiles.all|slice:"4" %}
                      <li>
                        <a href="http://facebook.com/{{ profile.fid }}" class="thumbnail">
                          <img src="https://graph.facebook.com/{{ profile.fid }}/picture" alt="{{ profile.name }}">
                        </a>
                      </li>
                    {% endfor %}
                    <li >
                      <a href="{% if result.status == 1 %}{% url planning_status result.id %}{% else %}{% url planning_results result.id %}{% endif %}" class="btn btn-info control-btn view-btn"><span class="view-icon"></span><i></i><span class="btn-text">{% if result.status == 1 %}View status{% else %}View result{% endif %}</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No results.</p>
    {% endif %}
    <div class="event-footer"></div>
  </div>
</div>


{% endblock content %}
