<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:title" content="Where to go with friends" />
    <meta property="og:type" content="website" />
    <style type="text/less">
      @import url("/static/css/less/bootstrap.less");
    </style>
    <style type="text/css">
      @import url("/static/css/start/jquery-ui.css");
      @import url("/static/css/layout/base.css");
      @import url("/static/css/layout/events.css");
      @import url("/static/css/layout/login-page.css");
    </style>
    <script type="text/javascript" src="/static/js/less.js"></script>
    <title>{% block title %}WhereToGo?{% endblock title %}</title>
  </head>
  <body>
    <div class="wrapper">
        {% block content %}
        {% endblock content %}
    </div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
