{% extends "base.html" %}

{% block extra_css %}
  @import url("{{ STATIC_URL }}css/layout/events.css");
{% endblock %}

{% block content %}
<div id="content" class="events">
  <div class="wrapper">
    <div class="events-controls switch">
      <a href="#" class="btn btn-primary btn-large control-btn add-btn"><span class="add-icon"></span><i></i><span class="btn-text">Organize event</span></a>
      <a  class="btn btn-primary btn-large control-btn up-btn btn-success"><span class="up-icon"></span><i></i><span class="btn-text">Scroll to top event</span></a>
      <div class="clearfix-bg"></div>
    </div>

    <div class="event-container switch">
      <div class="datelabel">
        <span class="badge badge-info">Event date</span>
      </div>

      <div class="event-item">
        <div class="event-date">
          <div class="event-date-item date-popup thumbnail">
            <div class="thumbnail"></div>
          </div>
          <div class="event-date-item date-leftarr"></div>
          <div class="event-date-item date-point"></div>
          <div class="event-date-item date-rightarr"></div>
          <div class="event-date-item time-period thumbnail">
            <div class="thumbnail"></div>
          </div>
        </div>
        <div class="event-info thumbnail">
          <div class="thumbnail">
            <div class="map-image">
              <img  />
            </div>
            <div class="event-description">
              <p>Hey dear friends, Here is a video were you can see almost the entire progress of this realism drawing. The progress of the drawing is speed up. Finished draw..</p>
            </div>
            <div class="event-friends">
              <ul class="thumbnails">
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="btn btn-info control-btn view-btn"><span class="view-icon"></span><i></i><span class="btn-text">View Event</span></a>
                </li>
              </ul>
            </div>
            <div class="event-controls">
              <a class="btn btn-primary"><i class="icon-comment icon-white"></i>Add comment</a>
              <a class="btn btn-warning"><i class="icon-edit icon-white"></i>Edit event</a>
              <a class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete event</a>
            </div>
          </div>
        </div>
      </div>
      <div class="event-item">
        <div class="event-date">
          <div class="event-date-item date-popup thumbnail">
            <div class="thumbnail"></div>
          </div>
          <div class="event-date-item date-leftarr"></div>
          <div class="event-date-item date-point"></div>
          <div class="event-date-item date-rightarr"></div>
          <div class="event-date-item time-period thumbnail">
            <div class="thumbnail"></div>
          </div>
        </div>
        <div class="event-info thumbnail">
          <div class="thumbnail">
            <div class="map-image">
              <img  />
            </div>
            <div class="event-description">
              <p>Hey dear friends, Here is a video were you can see almost the entire progress of this realism drawing. The progress of the drawing is speed up. Finished draw..</p>
            </div>

            <div class="event-friends">
              <ul class="thumbnails">
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="btn btn-info control-btn view-btn"><span class="view-icon"></span><i></i><span class="btn-text">View Event</span></a>
                </li>
              </ul>
            </div>
            <div class="event-controls">
              <a class="btn btn-primary"><i class="icon-comment icon-white"></i>Add comment</a>
              <a class="btn btn-warning"><i class="icon-edit icon-white"></i>Edit event</a>
              <a class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete event</a>
            </div>
          </div>
        </div>
      </div>
      <div class="event-item">
        <div class="event-date">
          <div class="event-date-item date-popup thumbnail">
            <div class="thumbnail"></div>
          </div>
          <div class="event-date-item date-leftarr"></div>
          <div class="event-date-item date-point"></div>
          <div class="event-date-item date-rightarr"></div>
          <div class="event-date-item time-period thumbnail">
            <div class="thumbnail"></div>
          </div>
        </div>
        <div class="event-info thumbnail">
          <div class="thumbnail">
            <div class="map-image">
              <img  />
            </div>
            <div class="event-description">
              <p>Hey dear friends, Here is a video were you can see almost the entire progress of this realism drawing. The progress of the drawing is speed up. Finished draw..</p>
            </div>

            <div class="event-friends">
              <ul class="thumbnails">
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="/static/img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="/static/img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="/static/img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="btn btn-info control-btn view-btn"><span class="view-icon"></span><i></i><span class="btn-text">View Event</span></a>
                </li>
              </ul>
            </div>
            <div class="event-controls">
              <a class="btn btn-primary"><i class="icon-comment icon-white"></i>Add comment</a>
              <a class="btn btn-warning"><i class="icon-edit icon-white"></i>Edit event</a>
              <a class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete event</a>
            </div>
          </div>
        </div>
      </div>
      <div class="event-item">
        <div class="event-date">
          <div class="event-date-item date-popup thumbnail">
            <div class="thumbnail"></div>
          </div>
          <div class="event-date-item date-leftarr"></div>
          <div class="event-date-item date-point"></div>
          <div class="event-date-item date-rightarr"></div>
          <div class="event-date-item time-period thumbnail">
            <div class="thumbnail"></div>
          </div>
        </div>
        <div class="event-info thumbnail">
          <div class="thumbnail">
            <div class="map-image">
              <img  />
            </div>
            <div class="event-description">
              <p>Hey dear friends, Here is a video were you can see almost the entire progress of this realism drawing. The progress of the drawing is speed up. Finished draw..</p>
            </div>

            <div class="event-friends">
              <ul class="thumbnails">
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="btn btn-info control-btn view-btn"><span class="view-icon"></span><i></i><span class="btn-text">View Event</span></a>
                </li>
              </ul>
            </div>
            <div class="event-controls">
              <a class="btn btn-primary"><i class="icon-comment icon-white"></i>Add comment</a>
              <a class="btn btn-warning"><i class="icon-edit icon-white"></i>Edit event</a>
              <a class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete event</a>
            </div>
          </div>
        </div>
      </div>
      <div class="event-item">
        <div class="event-date">
          <div class="event-date-item date-popup thumbnail">
            <div class="thumbnail"></div>
          </div>
          <div class="event-date-item date-leftarr"></div>
          <div class="event-date-item date-point"></div>
          <div class="event-date-item date-rightarr"></div>
          <div class="event-date-item time-period thumbnail">
            <div class="thumbnail"></div>
          </div>
        </div>
        <div class="event-info thumbnail">
          <div class="thumbnail">
            <div class="map-image">
              <img  />
            </div>
            <div class="event-description">
              <p>Hey dear friends, Here is a video were you can see almost the entire progress of this realism drawing. The progress of the drawing is speed up. Finished draw..</p>
            </div>

            <div class="event-friends">
              <ul class="thumbnails">
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="thumbnail">
                    <img src="{{ STATIC_URL }}img/b.jpg" alt="">
                  </a>
                </li>
                <li >
                  <a href="#" class="btn btn-info control-btn view-btn"><span class="view-icon"></span><i></i><span class="btn-text">View Event</span></a>
                </li>
              </ul>
            </div>
            <div class="event-controls">
              <a class="btn btn-primary"><i class="icon-comment icon-white"></i>Add comment</a>
              <a class="btn btn-warning"><i class="icon-edit icon-white"></i>Edit event</a>
              <a class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="event-footer"></div>
  </div>
</div>

{% endblock content %}
